/* src/styles/index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";

@import "../assets/primevue-tailwind-theme/tailwind.css"; /* 你的PrimeVue主题CSS */

@import "tailwindcss/utilities";

@import "./primevue-variables.css"; /* 导入CSS变量定义 */

body {
    font-family: 'Inter' , sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--p-text-color);
    background-color: var(--p-surface-0); /* 使用变量 */
}
